table.table_list {
    margin-top: 0.2em;
    margin-bottom: 1em;
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    font-size: 100%;
    text-align: center;
}

table.table_list th,
table.table001 td {
    padding: 4px 6px;
}

table.table_list th {
    background: #1B3AB4;
    text-align: center;
    white-space: nowrap;
    font-size: 92%;
    color: #FFF;
}

table.table_list th.name {
    background: #C1FFC1;
    text-align: center;
    white-space: nowrap;
    font-size: 92%;
    color: #000;
}

table.table_list td {
    background: #F0FFFF;
    text-align: center;
    white-space: nowrap;  
}

table.table_list td.high {
    background: #FFFAF0;
    text-align: center;
    white-space: nowrap;  
}

table.table_tab {
    width: 70%;
    border: 1px white solid;
}

table.table_tab th.on {
    width: 20%;
    background: #FF8000;
    color: #FFFFFF;
    text-align: center;
}

table.table_tab th.off {
    width: 20%;
    background: #C0C0C0;
    text-align: center;
}


table.table_tab td.tab {
    width: 100%;
    background: #FF8000;
    text-align: center;
}



#error {
    background-color: #FFFAF0;
    color: #FF3333;
    font-size: 16pt;
}

#ok {
    background-color: #9AFF9A;
    color: #008B00;
    font-size: 16pt;
}

#weight_high {
  background: #1B3AB4;
}


